<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>{{ partial "head" . }}{{ block "head" . }}{{ end }}</head>

<body>
  <div class="container">
    <div class="flex flex-col sm:flex-row">
      <div id="flag" class="hidden sm:block min-h-screen bg-gradient-to-b from-green-600 to-green-200" style="min-width: 10px;"></div>
      <div id="top-nav" class="order-4 sm:order-none print:hidden">
        <div class="sm:sticky sm:top-0 sm:w-28 ml-10 pt-40 px-2.5">
          <ul class="space-y-2 text-right text-xs font-bold uppercase">
            <li><a class="hover:border-b-2 border-black" href="/" title="Home">△</a></li>
            <li><a class="hover:border-b-2 border-black" href="/articles" title="Articles">Articles</a></li>
            <li><a class="hover:border-b-2 border-black" href="/books" title="Books">Books</a></li>
            <li><a class="hover:border-b-2 border-black" href="/notes" title="Notes">Notes</a></li>
            <li><a class="hover:border-b-2 border-black" href="/talks" title="Talks">Talks</a></li>
            <li><a class="hover:border-b-2 border-black" href="/now" title="Now">Now</a></li>
            <li><a class="hover:border-b-2 border-black" href="/about" title="About">About</a></li>
            <li><a class="hover:border-b-2 border-black" href="/cv" title="CV">CV</a></li>
          </ul>
        </div>
      </div>

      <div id="toc-index">
        <div class="hidden sm:block sm:w-28 pl-10 pt-40 pr-2.5">
          <ul class="text-right text-xs">
            {{ block "toc-index" . }}{{ end }}
          </ul>
        </div>
      </div>

      <div id="content">
        <div class="p-12">{{ block "main" . }}{{ end }}</div>
      </div>
    </div>
  </div>
  {{ partial "analytics" . }}
</body>
</html>
