{{ define "main" }}
  <section class="max-w-xl">
    <div class="py-5">
      <h1 class="text-5xl sm:text-8xl">{{ .Title }}</h1>
    </div>
    <div class="content-markdown">{{ .Content }}</div>

    <div class="my-8 border-b w-4/5 mx-auto"></div>

    <div class="space-y-5 text-sm font-serif italic">
      <p>This is a "now page" which itemizes the work and other priorities that I'm concentrating on right now. It's built in the style pioneered by <a href="https://sivers.org/now" target="_blank" class="underline" rel="noreferrer">Sivers</a>.</p>
      <p>This page was last updated on <b>Nov 16, 2021</b> from <b>Moscow, Russia</b>.</p>
    </div>
  </section>
{{ end }}
