<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Vasiliy Kolesnikov personal website." />
{{ if .Title }}
  <title>{{.Title}} &mdash; basilbook.org</title>
{{ else }}
  <title>basilbook.org &mdash; Vasiliy Kolesnikov</title>
{{ end }}
<link rel="stylesheet" href="/main.css">
<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css">
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
