<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>{{ partial "head" . }}</head>
<body class="bg-black">
  <div class="container my-5">
    <div class="px-5">
      <ul class="flex space-x-2.5">
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/" title="Home">△</a></li>
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/articles" title="Articles">Articles</a></li>
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/books" title="Books">Books</a></li>
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/talks" title="Talks">Talks</a></li>
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/now" title="Now">Now</a></li>
        <li class="uppercase text-tiny text-white font-bold"><a class="hover:border-b-2" href="/about" title="About">About</a></li>
      </ul>
    </div>
  </div>
  {{ partial "analytics" $ }}
</body>
</html>
